.navbar-brand{
	padding-top: 12px;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
}

.aw-link-panel{
	float: right;
	padding: 0px;
}

.aw-titulo-panel{
	float: left;
	padding-top: 2px;
}



/* 2.11. Produtividade com DevTools e Livereload
   Foi ensinado como usar o LiveReload, é só ativar a extensão no chrome
   e iniciar na página da aplicação.
   Toda alteração feita no html/css já é aplicada sem dar refresh na página */